body{
    background-color: black;
}

h1{
    color: white;
}

div{
    text-align: center;
}

button{
    height: 2.2em;
    width: 5.5em;
    border: none;
    color: black;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 5px;
}

button:hover{cursor: pointer;}

.start{
    background-color: lightgreen;
}

.pause{
    background-color:lightyellow;
}

.stop{
    background-color: red;
}